body
  font-family "Cabin", Helvetica, Arial, sans-serif
  background-color white
a
    color $link-primary
    
.btn-primary
  border 2px solid #5f89a9
  border-radius 12px
  brand-gradient()
  background-color #022A6D
  text-shadow 0px 0px 8.46px rgba(0, 0, 0, 0.75)
  &:hover
      background-image linear-gradient(to top, #007cc0 0%, #0f71b9 100%)
      background-color #0479BF
  &:active
      background linear-gradient(to bottom, #113e62 0%, #122549 100%)
    