.courses-tabs
    position relative
    bottom 50px
    .course-info
        background-color white
    .nav-tabs
        .active
                a
                    background-color white
                    &:hover
                        background-color white
                        border-top 1px solid #555
                        border-left 1px solid #555
                        border-right 1px solid #555
        li
            a
                color #555
                background-color #cdcdcd
                border-top 1px solid #555
                border-left 1px solid #555
                border-right 1px solid #555
                &:hover
                    background-color #eee
            