.nav-tabs
    .active
            a
                background-color white
                &:hover
                    background-color white
                    border-top 1px solid #555
                    border-left 1px solid #555
                    border-right 1px solid #555
    li
        a
            color #555
            background-color #cdcdcd
            border-top 1px solid #555
            border-left 1px solid #555
            border-right 1px solid #555
            &:hover
                background-color #eee
    
.courses-tabs
    position relative
    bottom 71px
    
.course-info
    box-shadow 0px 0px 10px 10px rgba(0,0,0,0.45)        