.nav-tabs
    .active
            a
                background-color white
                &:hover
                    background-color white
                    border-top 1px solid #555
                    border-left 1px solid #555
                    border-right 1px solid #555
    li
        a
            color #555
            margin-right 5px
            background-color #cdcdcd
            border-top 1px solid white
            border-left 1px solid white
            border-right 1px solid white
            &:hover
                background-color #eee
    
.courses-tabs
.register
    padding-right 2em
    padding-left 2em
    margin 20px 0px
