.hero
    padding 0px
.container-fluid
    .jumbotron
        background-image url("../img/hero.jpg")
        background-size cover
        background-position center center

        width 100%
        line-height 1
        border-radius 0px 
        .btn
            margin 5vh auto
            padding 30px 60px            
// FAQs
.faq-hero
    padding 0px
    .jumbotron
        background url('../img/keyboard.jpg')
        background-size cover
        background-position center center
        p
            @media (min-width: @screen-sm-min)
                font-size 1em

        
// Courses Page
.courses-hero
    padding 0px 0px 
    .jumbotron
        background url('../img/courses_hero.png')
        background-size cover
        background-position top center

// About
.about
    padding 0px
    .jumbotron
        background url('../img/chalk_board.jpg')
        background-size cover
        background-position top center
        

// Blog
.blog
    padding 0px
    .jumbotron
        background url('../img/chalk_board.jpg')
        background-size cover
        background-position center center
.blog-hero-logo
    width 50%
    max-width 500px
    display block
    margin 10vh auto 0px auto
