//dependencies
@import "../css/font-awesome.min.css"
@import "/bootstrap-stylus/bootstrap/index.styl"
@import "/bootstrap-stylus/bootstrap/theme.styl"

//variables and mixins
@import "c_variables"
@import "c_mixins"

//core styles
@import "body"
@import "type"

//individual styles
@import "hero"
@import "footer"
@import "nav"
@import "sections"

//pages
@import "courses"