@import "../css/font-awesome.min.css"
@import "/bootstrap-stylus/bootstrap/index.styl"
@import "/bootstrap-stylus/bootstrap/theme.styl"
@import "/partials/variables.styl"
@import "/partials/mixins.styl"
@import "/partials/body.styl"
@import "/partials/hero.styl"
@import "/partials/footer.styl"
@import "/partials/nav.styl"
@import "/partials/type.styl" 
