.navbar
    brand-gradient()
    margin-bottom 0px
    
.navbar-brand
    img
    &:hover, &:active, &:focus
        background-color transparent
        text-decoration none
        display inline
        position relative
               
.navbar-nav
    a 
        color white 
        text-shadow 1px 1px 2px black
        &:hover
            background-image linear-gradient(to top, #007cc0 0%, #0f71b9 100%)
            background-color #0479BF
        &:active, &:focus
            background linear-gradient(to bottom, #113e62 0%, #122549 100%)
.logo-nav
    max-height 40px
    bottom 10px
.logo-text-nav
    width 180px
    left 10px 
    bottom 17px

.nav-tele
    font-size 12px
    color white
    position relative
    bottom 28px
    left 110px
.login
    padding 6px 2em
    margin-left 1em
    
.icon-bar
    background-color white
    
    