
// B for Basic
body
  font-family "Cabin", Helvetica, Arial, sans-serif
  
// H for Hero
.container-fluid
    .jumbotron
        text-align center
        color white
        h1 
            text-shadow 3px 5.196px 4.65px rgba(0, 0, 0, 0.75)
            margin-top 30vh
        .btn
            font-size 1.5em
            letter-spacing 2px
            text-shadow 0px 0px 8.46px rgba(0, 0, 0, 0.75)
.container-fluid.faq-hero
    h1
        text-shadow 3px 5.196px 4.65px rgba(0, 0, 0, 0.75)
        margin-top 10vh
    p
        font-size 2.5em
.container-fluid.courses-hero
     h1 
        text-shadow 3px 5.196px 4.65px rgba(0, 0, 0, 0.75)
        margin-top 10vh
        padding-bottom 50px

.container-fluid.about 
    h1 
        text-shadow 3px 5.196px 4.65px rgba(0, 0, 0, 0.75)
        margin-top 10vh
.container-fluid.blog
    h1
        text-shadow 3px 5.196px 4.65px rgba(0, 0, 0, 0.75)
        margin-top 1em
        
// F for Footer

.footer-contact-form 
    font-family monospace

