Doctype 
html
  head
      title   FAQs - Career Academy Of Real Estate
      include ./partials/head.jade
  body
      include ./partials/nav.jade
      section.container-fluid
          
    include ./partials/footer.jade
    include ./partials/foot.jade