Doctype 
html
  head
      title   About - Career Academy Of Real Estate
      include ./partials/head.jade
  body
      include ./partials/nav.jade
      section.container-fluid.about
          .jumbotron
              h1 About Your Instructor
      section.container
        .col-sm-12
            .row
                h2 Donnis Palmer
                img(src="img/donnis.jpg", alt="Donnis Palmer" title="Donnis Palmer" class="donnis-photo")
                p Donnis has 15 years experience as a certified instructor of the following courses:
                ul
                    li Salesperson Prelicense Course
                    li Broker Prelicense Course
                    li Post License Course
                    li Broker Reciprocal Course
                    li Salesperson Reciprocal Course
                    li Continuing Education
                p Donnis’ resume includes
                ul
                    li BS in Education from Auburn University.
                    li Senior Member on Alabama Center for Real Estate (ACRE) Leadership Council located at the University of Alabama.
                    li Member of the Education Advisory Committee for the Alabama Real Estate Commission
                    li Active member and past President of the Alabama Real Estate Educator’s Association
                    li Former Corporate Training Manager, Meyer Real Estate, Gulf Shores, AL
                    li Former School Administrator and Instructor, RealtySouth, Birmingham, AL
                    li Frequent guest instructor for annual educational events presented by Alabama Association of Realtors
                    li Invited by the Alabama Real Estate Commission to serve as one of the authors of the current Alabama Post License Course.
                p Donnis has a passion for online education.  As an Instructional Designer, the eLearning programs that she has developed at the Career Academy of Real Estate (CARE) are state-of-the-art in the use of technology and pedagogy.  Pedagogy is the study of the process of teaching or strategies of instruction.
                p Donnis’ philosophical beliefs of adult learning strategies have allowed her to successfully guide her students to success in passing regulated exams as well as successful careers in real estate.
                p As you take any of the courses offered by CARE, you are encouraged to contact Donnis by phone or email with your questions.  At CARE, we are here for you.
                p Contact Donnis at
                    a(href="tel: 251-233-3058 ")  251-233-3058
                    | or by email: 
                    a(href="mailto:dpalmer@careeracademyofrealestate.com")    dpalmer@careeracademyofrealestate.com
    include ./partials/footer.jade
    include ./partials/foot.jade