Doctype 
html
  head
      title Blog - Career Academy Of Real Estate
      include ./partials/head.jade
  body
      include ./partials/nav.jade
      section.container-fluid.blog
          .jumbotron
              img(src="img/Hero-Logo.png", alt="Career Academy Of Real Estate" title="Career Academy of Real Estate")
      section.container
        .col-sm-12
            .row
                article
                    h1
    include ./partials/footer.jade
    include ./partials/foot.jade