Doctype 
html
  head
      title   FAQs - Career Academy Of Real Estate
      include ./partials/head.jade
  body
      include ./partials/nav.jade
      section.container-fluid.courses-hero
          .jumbotron
              h1 Get Started Today. <br>Take Our Courses Anywhere.
                  
        section.container
            ul(class="nav nav-tabs")
              li(role="presentation" class="active")
                  a(href="#") Salesperson
              li(role="presentation")
                  a(href="#") Reciprocal
              li(role="presentation")
                  a(href="#") Broker
              li(role="presentation")
                  a(href="#") Post
              li(role="presentation")
                  a(href="#") Exam Prep
              li(role="presentation")
                  a(href="#") Continuing Education
        section.container
            .row
               h2 Salesperson License - Only $295
               p A career in Real Estate is one that can be rewarding but also challenging. You may have wondered, How do I get started in real or How do I find the best realtor course?

               p The Career Academy of Real Estate can help you get started in real estate as well as guide you through each step. If you are ready to learn how to get a real estate license, simply review the requirements from the Alabama Real Estate                         Commission to make sure you are eligible, then complete the registration form! Now let's get started!

               p registered you can access the self-paced sessions at any time by going <a href="http://www.careeracademyofrealestate.com>/a>. Enter your email address and the password you established when registering where it says, New and Returning Student Login.

               p Our students love the flexibility this course offers. We work hard to make it easy for you!

               p You have six months to complete the course and take a final exam. If you need longer than six months,                     you can purchase two 3-month extensions at a cost of $50 per extension! After you pass your final exam with a 80% or better, your next step is to pass the state exam and then you are on your way to fulfilling your dream!!!

              p During your coursework, you will want to interview with different brokers to decide where you will                       want to place your temporary license once you have passed your state exam. Visit our blog for an article on how to choose a broker. 
              br
              a(href="#" class="btn btn-primary btn-large") Register Now                
    include ./partials/footer.jade
    include ./partials/foot.jade