Doctype 
html
  head
      title   FAQs - Career Academy Of Real Estate
      include ./partials/head.jade
  body
      include ./partials/nav.jade
      section.container-fluid.courses-hero
          .jumbotron
              h1 Get Started Today. <br>Take Our Courses Anywhere.
                  
        section.container
            .row 
                .col-md-8.courses-tabs
                    ul(class="nav nav-tabs" role="tablist")
                       li(role="presentation" class="active")
                           a(href="#Salesperson" id="salesperson-tab" aria-controls="salesperson" role="tab" data-toggle="tab") Salesperson
                       li(role="presentation")
                           a(href="#Reciprocal" id="reciprocal-tab" aria-controls="Reciprocal" role="tab" data-toggle="tab") Reciprocal
                       li(role="presentation")
                           a(href="#Broker" id="broker-tab" aria-controls="Broker" role="tab" data-toggle="tab") Broker
                       li(role="presentation")
                           a(href="#Post" id="post-tab" aria-controls="Post" role="tab" data-toggle="tab") Post
                       li(role="presentation")
                           a(href="#Continuing" id="continuing-tab" aria-controls="Continuing Education" role="tab" data-toggle="tab") Continuing Education
                    .row
                        .col-md-8.tab-content                                
                            include ./partials/salesperson.jade                             
                            include ./partials/reciprocal.jade
                            include ./partials/post.jade
                            include ./partials/continue.jade
                                    
    include ./partials/footer.jade
    include ./partials/foot.jade