Doctype 
html
  include ./partials/head.jade
  body
      include ./partials/nav.jade
      section.container-fluid.faq-hero
          .jumbotron
              h1 Frequently Asked Questions
              p Didn't find the answer you were looking for?<br> Call us at: 
                  a(href="tel:1-800-481-3116") 1-800-481-3116
     section.container.faqs
         .row
             .col-md-12
                 ul
                    li
                         a(href="#") How do I get an Alabama real estate license if I do not currently have one in any state?
                    li
                         a(href="#") How do I get an Alabama real estate license if I currently have a license in another state?
                    li
                         a(href="#") What skills and characteristics do top-producing real estate sales professionals share?
                    li
                         a(href="#") What will it cost me to get started?
                    li
                         a(href="#") How soon can I expect to generate income?
                    li
                         a(href="#") What are my payment options?
                    li
                         a(href="#") How long will it take me to finish the prelicense course?
                    li
                         a(href="#") Can I do some of the self-paced course and take some of the live webcasts?
                    li
                         a(href="#") Will I be tested during the course?
                    li
                         a(href="#") Where do I take the proctored final exam?
                    li
                         a(href="#") What if I don't get a passing score on the school's final examination?
                    li
                         a(href="#") How long do I have to complete the course?
                    li
                         a(href="#") Once I complete the course, what do you send me to verify I have finished?
                    li
                         a(href="#") Who can I contact if I have a problem while I am taking the course?
                    li
                         a(href="#") If I don't get a passing score on the quizzes at the end of each unit, will I be able to go back and review the material before I take the quiz over again?
                    li
                         a(href="#") Will any other materials be provided for me when I sign up for the course?
                    li
                          a(hrf="#") What happens after I pass the state examination? 
                    li
                          a(hrf="#") Are there any other courses that I am required to take?
         .row
            .col-md-12
                a(href="")
                    h3 How do I get an Alabama real estate license if I do not currently have one in any state?
                p To obtain a real estate license in the State of Alabama, all applicants must be 19 years of age with a high school diploma or G.E.D.

                p Step 1 - Take a 60-hour pre-license course required by the Alabama Real Estate Commission. Offered on this web site via live instruction delivered to your computer  or self paced (Internet or CD-ROM). Successfully complete the course with the required 70% passing grade. You will receive a certificate of completion, which allows you to take the state exam.

                p Step 2 - Take the state exam at one of four locations (Mobile, Montgomery, Birmingham, Athens or Huntsville). Test is given weekdays 8:00am - 5:00pm. Pass with a 70% grade or higher. You will receive the results the day of testing. 

                p Step 3 - You have 90 days from the date you passed the state exam to decide whether you want your license issued on an active or inactive status. 
                p You will choose active status if you are ready to actively practice real estate. In which case, you must select a broker to work with. The broker agrees to hold your license and be accountable with you for your actions as you practice real estate.

                p You will choose inactive status if you do not want to actively practice real estate at this time. In which case, the Alabama Real Estate Commission will hold your license for you until you are ready to practice real estate. The real estate commission will hold your license for you indefinitely as long as you renew it on inactive status every two years as required by Alabama law.
         .row
            .col-md-12
                a(href="")
                    h3 How do I get an Alabama real estate license if I currently have a license in another state?
                p You can obtain an Alabama real estate license by reciprocity if you hold a current license (one that is not reciprocal) in another state. If you hold a salesperson's license in another state you can apply for a reciprocal Alabama salesperson's license. If you hold a broker's license in another state you can apply for a reciprocal Alabama broker's license. The application for a reciprocal license can be found at www.arec.alabama.gov.
         .row
            .col-md-12
                a(href="")
                    h3 What skills and characteristics do top-producing real estate sales professionals share?
                p They are honest, willing to work hard, highly motivated, organized, and truly enjoy interacting with others.
         .row
            .col-md-12
                a(href="")
                    h3 What will it cost me to get started?
                p There are several start-up costs when beginning your real estate career. Fixed costs include: Pre-license course, state exam, post license course, state licensing fee, fees to join your local Board of Realtors and its Multiple Listing Service. You may also need such tools as a cell phone, laptop computer, palm pilot, etc.
         .row
            .col-md-12
                a(href="")
                    h3 How soon can I expect to generate income?
                p You are limited only by your imagination. Some new agents are selling homes in the first couple of months, while others may take longer to get their client base established.
         .row
            .col-md-12
                a(href="")
                    h3 What are my payment options?
                p You can pay for any course using your Visa, MasterCard,American Express or Discover Card. It is simple process and secured through Thawte.
         .row
            .col-md-12
                a(href="")
                    h3 How long will it take me to finish the prelicense course?
                p The live prelicense webcasts are held every Tuesday and Thursday night 6:00 PM - 8:00 PM. Since it is a 60-hour course, it will take 15 weeks. The self-paced course (Internet or CD-ROM) will take 60 hours to complete and can be done at your convenience. You can bookmark, come back later and continue.
         .row
            .col-md-12
                a(href="")
                    h3 Can I do some of the self-paced course and take some of the live webcasts?
                p
         .row
            .col-md-12
                a(href="")
                    h3 Will I be tested during the course?
                p Yes, you can participate in both the self-paced and live webcasts. You can also retake portions that you would like to repeat.
         .row
            .col-md-12
                a(href="")
                    h3 Where do I take the proctored final exam?
                p
         .row
            .col-md-12
                a(href="")
                    h3 What if I don't get a passing score on the school's final examination?
                p There are short quizzes at the end of each course unit. When you have completed all course units there is a final exam. A minimum passing score of 70% is required on the final exam. If you do not pass the final exam there is a second final exam available. Final exams must be proctored.
         .row
            .col-md-12
                a(href="")
                    h3 How long do I have to complete the course?
                p The live prelicense webcasts are held every Tuesday and Thursday night 6:00 PM - 8:00 PM. Since it is a 60-hour course, it will take 15 w
         .row
            .col-md-12
                a(href="")
                    h3 Once I complete the course, what do you send me to verify I have finished?
                p Yes, you can participate in both the self-paced and live webcasts. You can also retake portions that you would like to repeat.
         .row
            .col-md-12
                a(href="")
                    h3 Who can I contact if I have a problem while I am taking the course?
                p There are short quizzes at the end of each course unit. When you have completed all course units there is a final exam. A minimum passing score of 70% is required on the final exam. If you do not pass the final exam there is a second final exam available. Final exams must be proctored.
         .row
            .col-md-12
                a(href="")
                    h3 If I don't get a passing score on the quizzes at the end of each unit, will I be able to go back and review the material before I take the quiz over     again?
            p Career Academy personnel will help you arrange a proctored exam. When you have completed all course units, call 1-800-481-3116 to make arrangements at an educational facility of your choice. Some educational facilities charge a fee for proctoring. That is not included in your course fee and it is an expense you would be responsible for. We provide the information you need to find an appropriate proctor for your course final. This proctored course final is part of the course and should not be confused with the state-licensing exam.
         .row
            a(href="")
                h3 Will any other materials be provided for me when I sign up for the course?
            p You will be required to take a second final examination. A third exam is available if needed. You will have many opportunities to rehearse the exam taking process and to test your knowledge through the practice exams.
         .row
            a(href="")
                h3 What happens after I pass the state examination?
            p The state exam is given on computer and you will immediately be given your grade. After passing with a 70% or higher, you will be given an application for a temporary license. On this application you will indicate whether you want your license issued on active or inactive status. 

            p You will choose active status if you are ready to actively practice real estate. In which case, you must select a broker to work with. The broker agrees to hold your license and be accountable with you for your actions as you practice real estate.

            p You will choose inactive status if you do not want to actively practice real estate at this time. In which case, the Alabama Real Estate Commission will hold your license for you until you are ready to practice real estate. The real estate commission will hold your license for you indefinitely as long as you renew it on inactive status every two years as required by Alabama law.
         .row
            a(href="")
                h3 Are there any other courses that I am required to take?
            p Yes. You must turn the temporary license that you are initially issued into an original license. You do this by completing a post license course that is required by the Alabama Real Estate Commission. 

            p If your temporary license is active then you have six months from the date of issuance to complete post license to keep your license active. If you do not complete post license during this six-month period, your license will be placed on an inactive status and you have six more months to complete post license. If you do not complete post license during either of these six-month periods (twelve months total), then your temporary license will lapse and you will have to retake the prelicense course and retake the state exam.

            p If your temporary license is inactive then you have twelve months from the date of issuance to complete post license. If you do not complete post license during this twelve-month period, your license will lapse and you will have to retake the course and retake the state exam.
                
      include ./partials/footer.jade
      include ./partials/foot.jade



    