.tab-pane.fade#Continuing
                                h2 Continuing Education
                                p Register below to take CE delivered to your computer as streaming video. The courses are on the Internet so you can take them anytime, anywhere from any computer. After registering you will be given instructions as to how to access the self-paced modules.

                                p All licensees are required to take fifteen (15) hours of continuing education every two (2) years in order to renew a license. Of these (15) hours, six (6) hours must be two (2) new risk management courses. All other courses are electives.

                                p All licensees must have both a Risk Management Level 1 and a Risk Management Level 2 in their CE record in order to activate a 2013-2014 license for the first time or earn credit to renew a 2015-2016 license.

                                h3 Get a Bundled Discount
                                p Take all 15 hours (5 courses) with us and get a discount. Get 15 hours of CE for $75 by selecting 5 CE courses and you will automatically get the bundled discount.
                                a(href="#" class="btn btn-primary btn-lg register") Register Now        
                                
                                .media
                                    .media-body 
                                        h4.media-heading Risk Management Avoiding Violations -     $25 CE 3 hours
                                        p Level 1 is "Risk Management Avoiding Violations." This course is required for all licensee... both Salespersons and Brokers.
                                .media
                                    .media-body 
                                        h4 Risk Management for Brokers - $25 CE 3 hours
                                        p Level 2 is "Risk Management for Brokers." This course is required for all brokers...both associate and qualifing. Salespersons may also satisfy the Level 2 requirement with this course.
                                .media
                                    .media-body 
                                        h4.media-heading Alabama License Law 2014 Update - $25 CE 3 hours
                                        p This course is a refresher on Alabama license law. Do you remember what are the 31 ways to lose your license? If not you need to take this course.
                                .media
                                    .media-body 
                                        h4.media-heading Avoiding Illegal and Unethical Practices - $25 CE 3 hours
                                        p This course looks at what constitutes ethical leadership. It also makes the case that leadership is not only found at the top of an organization. We are all called upon to be leaders. This course also takes a look at illegal practices in real estate to avoid.
                                .media
                                    .media-body 
                                        h4.media-heading Code of Ethics - $25 CE 3 hours
                                        p It's that time again. As you know, every four years the NAR requires all members to take a Code of Ethics course. If you are a member of your local Board of REALTORS®, you must complete this ethics course by December 2012.
                                .media
                                    .media-body 
                                        h4.media-heading Tips to Steer Clear of a Lawsuit - $25 CE 3 hours
                                        p Learn how to steer clear of lawsuits by learning when and how to disclose property defects, - how to handle earnest money and other issues regarding antitrust, fair housing and RECAD.
                                .media
                                    .media-body 
                                        h4.media-heading The Mortgage Mess - $25 CE 3 hours
                                        p A course on the mortgage mess…..REALLY? I know what you are thinking…….BORING!!!
                                        p However there are some interesting scams out there right now. Short sales have provided scamsters new opportunities for devious schemes. I know that you have heard of flipping. How about flopping?
                                        p Under the category of 'Most Bizarre' is Home Stealing. One day, a homeowner in Nevada answered a knock on his door to find a County Sheriff with an eviction notice on his front steps. The man was shocked to learn that he and his family, along with their possessions, were facing eviction for failing to make mortgage payments on a paid-off home.
                                        p But the mortgage mess is more than just mortgage fraud schemes by individuals. There has been what some would describe as fraud on a larger scale. If you don't really understand the mortgage mess you need to take this course.