.container-fluid.footer-full
    footer(class="container")
        .row
            .col-md-12
                h2(class="contact-us") Contact Us On How You Can Jump Start Your Future, Today.
                .col-md-6
                    img(src="../img/footer_LOGO.png")
                    p  The Career Academy of Real Estate School
                    address 528 Castlebury Lane<br> Calera, AL 35040<br>Phone: 
                            a(href="tel:800-481-3116") 800-481-3116 
                            |<br> Fax: 
                            a(href="fax:800-481-3116") 800-481-3116
                    p
                        a(href="mailto:dpalmer@careeracademyofrealestate.com") Email us
                    p
                        a(href="/privacy-policy.html") Privacy Policy
                    p  &copy; The Career Academy of Real Estate. All Rights Reserved.
                    p School Certified by Alabama REal Estate Commission. <br>Shool Number 087762
                .col-md-6
                    form(class="contact-form")
                        input(type="name")
                        input(type="email")
                        textarea
                        input(type="submit")