.container-fluid.hero
    .jumbotron
        h1 A New and Better Way <br> To Complete Your Real Estate Education
        p
            a(class="btn btn-primary btn-lg main-cta"  href="#" role="button") Get Started
