.container
    .jumbotron
        h1 A New and Better Way To Complete Your Real Estate Education
        p
            a(class="btn btn-primary btn-lg"  href="#" role="button") Get Started
            span(class="glyphicon glyphicon-th")