header(class="navbar navbar-fixed-top" id="top" role="banner")
  .container
    .navbar-header
      button(class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(href="/" class="navbar-brand") 
          img(src="img/care_LOGO-nav.png" class="logo-nav")
          img(src="img/CARE_TEXT-nav.png" class="logo-text-nav")
          br
          span(itemprop="telephone" class="nav-tele") 1-800-481-3116
    nav(class="collapse navbar-collapse bs-navbar-collapse")
      ul(class="nav navbar-nav navbar-right")
        li
          a(href="/faqs.html") FAQs
        li
          a(href="/courses.html") Courses
        li
          a(href="/about.html") About
        li
          a(href="/blog.html") Blog
        li
          button(class="btn btn-default navbar-btn login" type="submit") Login
      

