.tab-pane.fade#Post
                                h2 Post License Course - $195

                                p Congratulations! You’ve passed your State salesperson exam! Now what???
                                p The good news is you have 90 days to decide what you would like to do! The next phase of your Real Estate Education is known as Post Licensing.   
                                p Once you’ve decided whether you want to be active or inactive status, you apply with the Alabama Real Estate Commission to be issued a temporary license. Upon receiving your license, you can do the following:    
                                p If you are ready to work in real estate right now, out of the brokers you interviewed, choose the one who is right for you and who will now hold your temporary license so you can begin your career! If you have not yet interviewed brokers Visit our blog to read an article on how to choose a broker.
                                p If you feel you want to wait to begin your real estate career, you can place your license on inactive status and the Commission will hold the temp license until you are ready to begin working! You have 6 months with an active license and 12 months with an inactive license to complete a 30- hour post licensing course.
                                p This is a comprehensive, self-paced training. In the prelicense course you learned principles and concepts about real estate. The post license course is more practical information. In post licensing you learn how to practice real estate. You can access recorded sessions which are delivered to you over the Internet! After completing the course, you must pass an exam with a 70% or better. You are on your way to the life you’ve always imagined!
                                a(href="#" class="btn btn-primary btn-lg register") Register Now        