.tab-pane.fade#Reciprocal
                                h2 Reciprocal License
                                div Broker License - $100
                                div Salesperson License - $100
                                strong  What are the qualifications to obtain a reciprocal license in Alabama?
                                ol
                                    li Hold a current license on either active or inactive status in the state where you took prelicense course work.
                                    li Have taken the entire exam that is called for to be licensed in your qualifying state.
                                    li Obtain a certification of licensure (license history) from your qualifying state and any other state(s) where you hold or have held a license within the past 5 years.
                                    li Complete the appropriate 6 hours of Alabama law in either the salesperson or broker prelicense course.
                                    li Pass the Alabama law portion of Alabama’s salesperson or broker licensing exam.
                                p While taking the 6-hour course on Alabama license law, applicants for a reciprocal license should request an evaluation of their license status from their qualifying state. This link will take you to a Request Form that you can send to your qualifying state for the verification information required by the Alabama Real Estate Commission. 
                                p <strong>This form, along with certification(s) of licensure</strong> from your qualifying state plus any other states in which you have been licensed within the past 5 years, may be faxed or mailed to the Commission. You may also scan in your certifications of licensure and email them to the Commission along with a request for determination of reciprocal licensing exam eligibility. 
                                div
                                    a(href="http://www.arec.alabama.gov/" target="blank") Alabama Real Estate Commission
                                    br 
                                    address 1201 Carmichael Way <br> Montgomery, Alabama 36106
                                    span 334.242.5544 Phone<br>
                                    span 334.270.9118 Fax
                                    
                                p When you complete the course your completion information will be transmitted to the testing agency, <a href="http://www.goamp.com/" target="_blank">Applied Measurement Professionals</a> (AMP). As soon as AMP processes your information you will receive an email from AMP indicating that you can schedule an appointment for the Alabama license law portion of the state exam.
                                
                                a(href="#" class="btn btn-primary btn-lg register") Register Now
                                
                            .tab-pane.fade#Broker
                                h2 Broker License - $295
                                p Are you ready for the next step in your real estate profession? Have you found a career you can call home? If so, becoming a Real Estate broker could be the next rewarding step for you! The Career Academy of Real Estate's broker course consists of thorough, self-paced sessions you can access online.
                                p To obtain a real estate Broker license in Alabama, an applicant who does not already hold a current real estate broker license in another state must:
                                ul
                                    li Take the Alabama broker prelicense course
                                    li Pass the Alabama state broker licensing exam
                                p <em>(To be eligible to take this course you must have held an active real estate salesperson license in any state for at least 24 months of the 36 month period immediately preceding the date of application. If you do not hold a salesperson's license in any state then you must first take the salesperson's course and work as a salesperson for 24 of the next 36 months before you can take the Broker's course and apply for a Broker's license)</em>
                                p After completing all of the online sessions, you will have a one-on-one telephone appointment with the instructor to discuss further preparations for the state exam.
                                
                                a(href="#" class="btn btn-primary btn-lg register") Register Now        